* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

// Jet2 Styles

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
input {
  border: none;
  display: block;
  font-size: 14px;
  padding: 15px;
  height: 50px;
  transition: all 0.1s;
}
label {
  color: #626262;
  font-size: 14px;
}
.form-element-wrapper--input-text input {
  border: none;
  background: transparent;
  display: block;
  font-size: 14px;
  padding: 15px;
}
.form-row {
  position: relative;
  margin-bottom: 15px;
}
.form-column {
  margin-bottom: 10px;
}
.form-column:last-child {
  margin-bottom: 0;
}
.form-element-wrapper {
  border: 1px solid silver;
  position: relative;
  transition: opacity 0.2s;
}
.form-element-wrapper.form-element-wrapper--error {
  border-color: #c00000;
}
.validation-message {
  background-color: #c00000;
  color: #fff;
  padding: 8px 10px;
  font-size: 12px;
  display: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  margin: 10px 0 4px;
  transition: opacity 0.1s;
  position: relative;
  white-space: normal;
  z-index: 1;
}
.validation-message:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 8px;
  border-color: transparent transparent #c00000;
  position: absolute;
  bottom: 100%;
  left: 5px;
}
.false-label {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: 400;
  color: #444;
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  margin-top: 0;
  position: relative;
}
.false-label--bold {
  font-weight: 600;
}
.form-element-wrapper--input-text input:focus {
  background: #fff;
  outline: none;
  color: #626262;
}
.form-element-wrapper--show-label input:focus {
  background-color: transparent;
}
.form-element-wrapper--input-text {
  background-color: #fff;
}
.form-element-wrapper--input-text input {
  color: #3d3d3d;
  position: relative;
  z-index: 1;
  height: 40px;
  transition: all 0.1s;
  width: 100%;
}
.form-element-wrapper--input-text input::-ms-clear {
  display: none;
}
.form-element-wrapper--input-text input:disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  opacity: 0.2;
}
.btn {
  font-size: 16px;
  color: #4290db;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  display: table;
  text-decoration: none;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  outline: none;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  border: 0;
}
.bttn--global-secondary {
  background-color: #347cf2;
  color: #fff;
  margin-bottom: 15px;
}

// Added Styles

.section {
  width: 100vw;
  height: 100vh;
  background: #555f69 url("http://127.0.0.1:5500/air-sunset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  width: 350px;
  background: #fff;
  border-radius: 5px;

  &__header {
    height: 55px;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ccc;
  }

  &__logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__logos img:first-child {
    margin-right: 10px;
  }

  &__logos img:last-child {
    margin-left: 10px;
  }

  &__body {
    max-width: 250px;
    margin: 0 auto;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
  }

  &__heading {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 12px;
    margin-bottom: 25px;
    color: #444;
  }
}
